numpy==1.24.3
pandas==2.0.1
matplotlib==3.7.1
seaborn==0.12.2
scikit-learn==1.2.2
xgboost==1.7.5
imbalanced-learn==0.10.1
flask==2.3.2
jupyter==1.0.0
ipykernel==6.22.0
openpyxl==3.1.2
plotly==5.14.1
joblib==1.2.0
pickle-mixin==1.0.2
missingno==0.5.2
category_encoders==2.6.0
gunicorn==20.1.1